*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smoooth;
}
:root{
	--bg-color: #ffffff;
	--text-color: #121212;
	--main-font: 2.2rem;
	--p-font:  1.1rem;
}

body{
	/*background: var(--bg-color);*/
	color: var(--text-color);
	background-color: black;
}

header{
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	position: fixed;
	/*background: var(--bg-color);*/
	box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 8%;
	transition: .3s;
	background: linear-gradient(to right, #01a2c4, #85a9c1, #d1a7ae, #e96a53, #e96a53, #b8112e);
    border-bottom: 10px black ;
}

.logo{
	color:  var(--text-color);
	font-size: var(--main-font);
	font-weight: 600;
	line-height: 0.8;

}

#menu-icon{
	font-size: 38px;
	color: var(--text-color);
	z-index: 10001;
	display: none;
}

/* We work on the NavBar segment*/

.navbar{
	display: inline-flex;
}
.navbar a{
	font-size: var(--p-font);
	color: var(--text-color);
	font-weight: 600;
	padding: 10px 15px;
	margin: 0 10px;
	transition: all .40s ease;
}
.navbar a:hover{
	background: var(--text-color);
	color: #fff;
	border-radius: 25px;
}

.popUp{
	display: none;
	margin-top: 5px;
	height: 100px;
	width: 100px;
	background-color: lightcoral;
	position: absolute;
	top: 20px;

}
.parentPopUp{
	position: relative;
}

.parentPopUp:hover .popUp{
	display: block;

}

.checkout{
	background-color: lightskyblue;
	color: black;
	border: 1px solid black;
}

.checkout:hover{
	cursor: pointer;
}

/* We work on the icons segment*/

.icons{
	display: flex;
	align-items: center;
}
.icons i{
	color: var(--text-color);
	font-size: 24px;
	margin-left: 15px;
}
.icons i:hover{
	opacity: 0.7;
}
.icons div{
	color: var(--text-color);
	font-size: 15px;
	margin-left: 0px;
}


section{
	padding: 100px 8%;	
}
.container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(360px, auto));
	align-items: center;	
	gap: 2rem;
	text-align: center;
	cursor: pointer;
	padding-top: 2rem;
}

/* We work on the box segment*/

.box{
	padding: 20px 20px 10px 20px;
	background: transparent;
	box-shadow: 5px 30px 56px rgb(55 55 55/ 12%);
	border-radius: 10px;
	position: relative;
	transition: all .35s ease;
	/*border-style: groove;
*/
}

.box img{
	width: 100%;
	height: auto;
	border-radius: 25px;

}

.box h4{
	font-size: 15px;
	letter-spacing: 1px;
	margin-bottom: 8px;
	color: whitesmoke;
}
.box h5{
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 20px;
	color: whitesmoke;

}
.box .cart i{
	/*position: absolute;
	top: 0;
	left: 0;
	*/
	width: 135px;
	background: var(--text-color);
	color: var(--bg-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 28px;
	border-radius: 25px;
	background: linear-gradient(to right, #01a2c4, #85a9c1, #d1a7ae, #e96a53, #e96a53, #b8112e);
}
.box:hover{
	transform: translateY(-5px);
}

/* We work on the about segment*/

.about{
	/*background: #f7f6f6;*/
	background: linear-gradient(to right, #01a2c4, #85a9c1, #d1a7ae, #e96a53, #e96a53, #b8112e);
	display: flex;
	align-items: center;
	justify-content: safe center;
	flex-direction: column;
}
.about-content{
	text-align: center;
}
.about-content h2{
	font-size: var(--main-font);
	margin-bottom: 30px;
}
.about-content p{
	max-width: 600px;
	font-size: var(--p-font);
	font-weight: 600px;
	color: var(--text-color);
	line-height: 30px;
}

.contact{
	padding: 10px 17%;
	background: var(--text-color);
}

.main-contact{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, auto));
	gap: 3rem;
	margin-bottom: 1rem;
}
.contact-content li{
	margin-bottom: 15px;
}
.contact-content li a{
	display: block;
	/*color: var(--bg-color);*/
	font-size: var(--p-font);
	font-weight: 600;
	transition: all .40a ease;
	background: linear-gradient(to right, #01a2c4, #85a9c1, #d1a7ae, #e96a53, #e96a53, #b8112e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-content li a:hover{
	transform: translateX(-10px);
	transition: all .5s ease;
}
.action form{
	text-align: center;
}
.action form input[type="E-mail"]{
	width: 460px;
	max-width: 100%;
	padding: 12px 15px;
	background: #515151;
	color: var(--bg-color);
	border: none;
	outline: none;
	margin: 0px 10px 20px 0px;
	font-size: 16px;
	font-weight: 600;
}


.action form input[type="Submit"]{
	width: 460px;
	max-width: 100%;
	padding: 10px 35px;
	background: var(--bg-color);
	color: var(--text-color);
	border: none;
	outline: none;
	margin: 0px 10px 20px 0px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

.last{
	text-align: center;
	padding: 17px;
	background: linear-gradient(to right, #01a2c4, #85a9c1, #d1a7ae, #e96a53, #e96a53, #b8112e);

}

.last p{
	color: var( --text-color);
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 2px;

}

.product {
	color: white;
}

.checkout-total {
	color: white;
	font-size: 18px;;
}

.cart-page {
	min-height: calc(100vh - 55px);
}